@*
    * Author: Ashley Johansson
    * Date Created: 11/19/2019 05:20PM
    * Date Updated: 11/19/2019 05:54PM
    * The Home Page of the site from which users
    * learn about the purpose of the site and can
    * log in.
*@
@{
    ViewData["Title"] = "Home";
}

<body>
    <h2> Welcome to the RPG Character Creator Database.</h2>
    <h4>The purpose of this site:</h4>
    <p>
        If you're a writer, game creator, dungeon master, or just someone who enjoys creating characters,
        or monsters, but you always forget key details about them, why not store all of that information
        in one place? <br />
        @*TODO: Write a larger description of the site*@
    </p>

    <h4>Search for your friends below:</h4>
    <div>
        <form method="post">
            <input for="searchText" name="searchText" placeholder="UserName"/>
            <button value="searchBtn" type="submit">Search</button>
        </form>
    </div>

    <h5><a href="Home/SignUp">Sign In here!</a></h5>

    <p>More content coming soon!</p>

</body>