@*
    * Author: Ashley Johansson
    * Date Created: 11/19/2019 05:27PM
    * Date Updated: 12/05/2019 10:36PM
    * A form that allows users to create a new
    * non-playing character.
*@
@model String
@{
    Layout = "_Navigation";
    ViewData["Title"] = "NPC";
}

<body>
    <h2>@Model Welcome to the NPC Creator Form! Here you can create a new non-playing character</h2>
    <h2>Just fill out any of the fields below to build your character.</h2>
    <h3>Be sure to press save in order to keep your information.</h3>

    <form asp-controller="Home" asp-action="post" method="post">
        <label for="name">Name</label>
        <input name="name" /><br />
        <label for="species">Species</label>
        <input name="species" /><br />
        <label for="gender">Gender</label>
        <input name="gender" /><br />
        <label for="description">Description</label><br />
        <textarea name="description" rows="3" cols="100"></textarea><br />
        <label for="ability1">First Ability</label><br />
        <textarea name="ability1" rows="2" cols="100"></textarea><br />
        <label for="ability2">Second Ability</label><br />
        <textarea name="ability2" rows="2" cols="100"></textarea><br />
        <label for="ability3">Third Ability</label><br />
        <textarea name="ability3" rows="2" cols="100"></textarea><br />
        <label for="ability4">Fourth Ability</label><br />
        <textarea name="ability4" rows="2" cols="100"></textarea><br />
        <label for="ability5">Fifth Ability</label><br />
        <textarea name="ability5" rows="2" cols="100"></textarea><br /><br />
        <input type="submit" value="Save" />
    </form>
    <a href="Home/Member"></a>
    <p>Form coming soon.</p>
</body>